.header{
    text-align: center;
    margin:auto;
}



.current{
    border: 1px solid gray;
    width:100%;
    height: 50vh;
}
.days{
    font-weight: bold;
    font-size: 18px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
}        